a{
    text-decoration: none;
    text-align: right;
}
body{
    
    background-color: blue;
}
h1{
    text-align: center;
}
label{
    text-align: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
 align-items: center;
    border-radius: 5px;
    background-color: white;
}
#btn{
text-align: center;
background-color: blue;
color: white;
height:40px;
width: 300px;
border: 1px solid;
border-radius: 5px;
}
#pwd{
    height: 30px; 
    width: 300px;
    border: 1px solid gray;
    border-radius: 2px;
}
#email{
    height: 30px; 
    width: 300px;
    border: 1px solid gray;
    border-radius: 2px;
}
input{
   
    align-items: center;
    height: 30px;  ;

}
.btn1{
  border: 1px solid black;
  border-radius: 4px;
    background-color: white;
    height: 25px;
    width: 300px;
}
hr{
    color: black;
}
.lang{
    color: white;
    background-color: blue;
}

@media (max-width: 480px) {
    .login-container {
        padding: 5px;
        margin: 5px;
    }
}









